<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>
    <header>
      <h1>
        ようこそ、Bookersへ！
      </h1>
    </header>

    <main>
      <p>
        Bookersでは、さまざまな書籍に関するあなたの意見や<br/>
        印象を共有し交換することができます
      </p>

      <p>
        <a href = "/books" >start</a>
      </p>
    </main>
  </body>
</html>